body { scroll-behavior:smooth; }

.hero{
  height:100vh;
  background:#111;
  color:white;
  display:flex;
  align-items:center;
}

.profile-img{
  width:160px;
  border-radius:50%;
  border:4px solid #ffc107;
  margin-bottom:15px;
}

.skill-box{
  background:#f9eee8;
  padding:15px;
  border-radius:10px;
  font-weight:bold;
  margin:10px;
}
